<article>
    <div class="post-archive">
        <a href="<%- url_for(post.path) %>">
            <h1 class="post-title archive">
                <%= date(post.date, config.date_format.replace(/[^MD]Y+[^MD]/, '')) %>: 
                <%- post.title || "Untitled" %>
            </h1>
        </a>
    </div>
</article>
