<div class="donate">
  <hr />
  <p>如果喜欢，欢迎请作者喝咖啡☕️☕️☕️</p>
  <div style="text-align: center;">
    <% for (var i in site.data.donate){ %>
    <img src="<%= site.data.donate[i] %>" alt="" height="128px" width="128px" />
    <% } %>
  </div>
</div>
