<article>
    <div class="post-preview">
        <%- partial('post/title', {post: item, index: true}) %>
        <%- partial('post/excerpt', {post: item}) %>
        <%- partial('post/meta', {post: item}) %>
    </div>
</article>
