
<!-- Post Content -->
<div class="container">
    <div class="row">
        <!-- Post Main Content -->
        <% if (page.catalog) { %>
            <div class="col-lg-8 col-lg-offset-1 col-md-10 " >
        <% } else { %>
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <% } %>

                <article class="post-article" >
                    <%- post.content %>
                </article>
            </div>

        <% if (page.catalog) { %>
            <div class="col-lg-3  col-md-2 hidden-xs hidden-sm" id="tocScrollspy">
                 <%- partial("post/toc") %>
            </div>
        <% } %>
    </div>

    <div class="row">
        <!-- Comments -->
        <% if (post.comment != false) { %>
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 post-comment">
                <%- partial("_partial/comments") %>
            </div>
        <% } %>
    </div>
</div>
