<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1" id="tagCloudContainer">         
            <div id="tagCanvasContainer">
                <canvas width="512" height="512" id="tagCanvas">
                    <p>Oops... Your browser does not support the canvas element</p>
                </canvas>
            </div>

            <section class="tag-cloud-wrap" id="tags">
                <ul style="display: none">
                    <%- tagcloud({
                        min_font: 12, 
                        max_font: 40, 
                        amount: 256, 
                        color: true, 
                        start_color: 'gray', 
                        end_color: 'black',
                    }) %>
                </ul>
            </section>
        </div>
    </div>
</div>