<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <section class="tag-cloud-wrap">
                <%- tagcloud({
                    min_font: 16, 
                    max_font: 60, 
                    amount: 256, 
                    color: true, 
                    start_color: 'gray', 
                    end_color: 'black',
                }) %>
            </section>
        </div>
    </div>
</div>