.toc-wrap
    margin-top: 30px

.toc-wrap.nav.affix
    top: 0px; /* Set the top position of pinned element */

.toc
    padding-left: 0.5em

.toc-title
  font-size 120%
  &:before
    font-family: "FontAwesome"
    content: "\f02e"
    margin-right: .5em

.toc-item
    list-style-type:none

.toc-child
    padding-left: 0.5em
    // padding-inline-start 1em

.toc-link
    text-decoration: none

.toc-item.active
    > a
        color: #fff;
        background: #0088cc;
